!!!
%html{ :xmlns => 'http://www.w3.org/1999/xhtml', 'xml:lang' => 'en', :lang => 'en' }
  %head
    %meta{ 'http-equiv' => 'content-type', :content => 'text/html;charset=UTF-8' }
    %meta{:name => "keywords", :content => "SCRUM, sprint, board, agile, XP, Stories, Tasks, Burndown, Taskboard, Chart, Skinnyboard, skinnyboard.com, backlog, product backlog, ScrumBoard, VirtualScrumBoard" }
    %meta{:name => "description", :content => "Skinnyboard is web-based software that helps agile project teams collaborate to get work done. It provides project boards of virtual index cards that you use to assign work, track status, and measure performance." }
    %title Skinnyboard.com – Collaboration for Agile Teams
    = stylesheet_link_tag 'skinnyboard'
    = javascript_include_tag :defaults#, :cache => true
    %link{ :href => '/images/apple-touch-icon.png', :rel => 'apple-touch-icon' }
    %link{ :href => '/images/favicon.ico', :rel => 'shortcut icon' }
  %body
    %div{ :id => 'loading', :style => 'display: none;' }
      %img{ :src => '/images/loading.gif' }
    #LoginWrapper
      #header
        #Login
          - if logged_in?
            .buttonLinkWide
              = link_to 'back to boards', "/boards"
          - elsif !logged_in? and !(current_subdomain.blank? || current_subdomain == "www")
            = render :partial => 'account/login_form'
        #skinnyLogo
          %a{ :href => '/' }
            %img{ :src => '/images/skinnyboardLogoBIG.png' }
      #staticContent
        = yield
      #noticeText
        = flash[:notice]
        
        
    #footer
      #appfooterWrap
        SkinnyBoard